<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
        <title>SpaceY</title>
    </head>
    <body id="buildPage">
        <div class="header">
        <h1 id="title">Building Your Space Rocket</h1>
        
        <hr />
        <nav>
            <a class="head" href="/">Home</a>
            <a class="head" href="/AdminLog-In">Admin Log-In</a>
            <a class="head" href="/buildShip">Build</a>
            <a class="head" href="/shopcart">Cart</a>
        </nav>
        </div>
        
        <br /><br />
    
        <form method="POST" id="info">
            
            Category: For the database values
            <select name="material">
                <option value="">Select One</option>
                
                <% materials.forEach(function(i){ %>
                    <option><%=i.material%></option>
                <% }); %>
                
            </select>
            <br><br>
            
            Price: For the database values
            <select name="price">
                <option value="">Select One</option>
                
                <% prices.forEach(function(j){ %>
                    <option><%=j.engineCost%></option>
                <% }); %>
                
            </select>
            <br><br>
            
            weight: For the database values
            <select name="weight">
                <option value="">Select One</option>
                
                <% weights.forEach(function(k){ %>
                    <option><%=k.weight%></option>
                <% }); %>
                
            </select>
            
            <button> Search! </button>
            
            <table border="1" cellpadding="3" id="printTable">
            	<tbody>
            	    <tr>
            	        <th>Upgrade</th>
            	        <th>Engine Cost</th>		
            	        <th>Description</th>
            	        <th>Weight</th>
            	        <th>Material</th>
            	        <th>PayloadReq</th>
                	</tr>
            	
                	<% for(var i = 0; i < displaying.length; i++) { %>
                        <option><%=i.material%></option>
                        <tr>
            		        <td><%= engineINFO[displaying[i]].upgrade %></td>
            		        <td><%= engineINFO[displaying[i]].engineCost %></td>		
            		        <td><%= engineINFO[displaying[i]].description %></td>
            		        <td><%= engineINFO[displaying[i]].weight %></td>
            		        <td><%= engineINFO[displaying[i]].material %></td>
            		        <td><%= engineINFO[displaying[i]].payloadReq %></td>
            	        </tr>
                    <% } %>
                	
                </tbody>
            </table>
            
        </form>
        
        <form action="/buildShip">
            <button> Build Another </button>
        </form>

    </body>
</html>